<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Ajouter un membre</h1>
  <!-- Form -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="cin">CIN</label>
          <input type="text" class="form-control" id="cin" [(ngModel)]="newMember.cin" name="cin">
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="newMember.name" name="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="newMember.lastName" name="prenom">
        </div>
        <div class="form-group">
          <label for="role">Rôle</label>
          <select class="custom-select" id="role" [(ngModel)]="newMember.role" name="role">
            <option value="" disabled selected>Choisissez un rôle</option>
            <option value="EMPLOYEE">Employé</option>
            <option value="COORDINATEUR">Coordinateur</option>
            <option value="CHEF">Chef de projet</option>
            <option value="RESPONSABLE">Responsable</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
